<form method="POST" action="/dogs/<%= dogId %>/?_method=PUT">
    <div>
        <label for="">Name</label>
        <input type="text" name="name" value="<%= dog.name %>">
    </div>
    <div>
        <label for="">known for</label>
        <input type="text" name="knownFor" value="<%= dog.knownFor %>">
    </div>
    <div>
        <label for="">image URL</label>
        <input type="text" name="image" value="<%= dog.image %>">
    </div>
    <div>
        <input type="submit" value="submit">
        <form action="/dogs/<%= dogId %>/?_method=DELETE" method="POST">
            <input class="delete" type="submit" value="delete">
        </form>
    </div>
</form>