<form method="GET" action="/dogs">
    <label for="nameFilter">Filter by Name</label>
    <input id="nameFilter" type="text" name="nameFilter">
    <input type="submit">
</form>

<ul>
    <% myDogs.forEach((dog, index) => { %>
        <div class="tooltip">
            <li>
                <img class="dogimg" src="<%= dogs.img %>">
            </li>
        </div>
    <li><%= dog.name %> is famous for <%= dog.famousFor %>
        <a href="/dogs/edit/<%= index %>">Edit</a>
        <form method="POST" action="/dogs/<%= index %>/?_method=DELETE">
            <input type="submit" value="Delete">
        </form>
    </li>
    <% }) %>
    </ul>