<form action="/dogs" method = "GET">
    <label for="nameFilter">Filter By Name</label>
    <input type="text" id = "nameFilter" name = "nameFilter">
    <input type="submit">
</form>

<ul>
    <% myDog.forEach((dog,index) => { %>
        <li>
            <img src="<%= dog.image %>">
            <p><%= dog.name %> is famous for <%= dog.famousFor %></p> 
            
            <a href="/dogs/edit/<%= index %>">Edit</a>
            <form action="/dogs/<%= index %>/?_method=DELETE" method = "POST">
                <input type="submit" value = "Delete">
            </form>
        </li>
    <% }) %>
</ul>