<form class="filter" method="GET" action="/dogs">
    <label for="nameFilter">Filter by name</label>
    <input id="nameFilter" type="text" name="nameFilter">
    <input type="submit">
</form>

<ul>
    <% myDog.forEach((doggo, index) => { %>
        <li class="list"><%= doggo.name %> is famous for <%= doggo.famousFor %> <img src="<%= doggo.image %>">
            <a class="index" href="/dogs/edit/<%= index %>">Edit</a>
            <form class="delete" method="POST" action="/dogs/<%= index %>/?_method=DELETE">
                <input type="submit" value="Delete">
            </form>
        </li>
    <% }) %>
</ul>