<h2>Hello Dogs Index</h2>
<!-- GET for search -->
<form method="GET" action="/dogs">
  <label for="nameFilter">Filter by Name</label>
  <input id="nameFilter" type="text" name="nameFilter">
  <input type="submit">
</form>

<ul>
  <% data.forEach( (element, index) => { %>
    <li> <img src="<%=element.image%>"/> 
      <div id="index-image-form-holder-container">
        <!-- query strings always start with a ? -->
        <!-- here the query sting is ?_method=DELETE -->
        <a href="/dogs/edit/<%= index %>">Edit</a>
        <form method="POST" action="/dogs/<%= index %>/?_method=DELETE">
          <input type="submit" value="Delete">
        </form>
        <h4><%= element.name %></h4> 
        <p> <%= element.famousFor %> </p>
      </div>
    </li>
  <% }) %>
</ul>