<h2 id = "new">Just Dogs</h2>

<form action="/dogs" method = "GET" id = "filter">
    <label for="nameFilter">Filter By Name : </label>
    <input type="text" id = "nameFilter" name = "nameFilter">
    <input type="submit">
</form>

<ul>
    <% myDog.forEach((dog,index) => { %>
        <li id = "card">
            <img src="<%= dog.image %>">
            <p><%= dog.name %> is famous for <%= dog.famousFor %></p> 

            <br>
            <hr>
            
            <div id ="bottomText">
                <a id = "edit" href="/dogs/edit/<%= index %>">Edit</a>
            </div>

            <form action="/dogs/<%= index %>/?_method=DELETE" method = "POST">
                <input type="submit" value = "Delete" id ="delete">
            </form>
        </li>
    <% }) %>
</ul>