<h2 id = "new">New Dog</h2>

<form action="/dogs" method = "POST" id = "filter">
    <label for="dogName">Name</label>
    <input type="text" id = "dogName" name = "name">

    <label for="dogImage">Image</label>
    <input type="text" id = "dogImage" name = "image">

    <label for="dogFamous">Famous for :</label>
    <input type="text" id = "dogFamous" name = "famousFor">

    <input type="submit">
</form>

<ul>
    <% myDog.forEach((dog,index) => { %>
        <li id = "card">
            <img src="<%= dog.image %>">
            <p><%= dog.name %> is famous for <%= dog.famousFor %></p> 

            <br>
            <hr>
            
            <div id ="bottomText">
                <a id = "edit" href="/dogs/edit/<%= index %>">Edit</a>
            </div>

            <form action="/dogs/<%= index %>/?_method=DELETE" method = "POST">
                <input type="submit" value = "Delete" id ="delete">
            </form>
        </li>
    <% }) %>
</ul>