<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styleDogs.css">
  <title>Dog show!</title>
</head>
<body>
  <h1>This is <%= myDog.name %> </h1>
  <br>
  <h1><%= myDog.name %> is famous for <%= myDog.famousFor %>  </h1>
  <br>
  <h1>Here is a cool pic of <%= myDog.name %> </h1>
  <br>
  <div id='dogImage'>
    <img src="<%= myDog.image %>" alt="A cool picture of a cool dog.">
  </div>
</body>
</html>