<ul>
    <% myCats.forEach((cat, index) => { %>
        <li><%= cat.name %> <img src="<%= cat.image %>"></li>
        <p><%= cat.famousFor %></p>
            <a href="/cats/edit/<%= index %>">Edit</a>
            <form method="POST" action="/cats/<%= index %>/?_method=DELETE">
                <input type="submit" value="Delete">
            </form>
    <% }) %>

</ul>