<form class="filter" method="GET" action="/cats">
    <label for="nameFilter">Filter by name</label>
    <input id="nameFilter" type="text" name="nameFilter">
    <input type="submit">
</form>

<ul>
    <% myCat.forEach((kitty, index) => { %>
        <li class="list"><%= kitty.name %> is famous for <%= kitty.famousFor %> <img src="<%= kitty.image %>">
            <a class="index" href="/cats/edit/<%= index %>">Edit</a>
            <form class="delete" method="POST" action="/cats/<%= index %>/?_method=DELETE">
                <input type="submit" value="Delete">
            </form>
        </li>
    <% }) %>
</ul>