<form method="GET" action="/cats">
    <label for="nameFilter">Filter By Name</label>
    <input id="nameFilter" type="text" name="nameFilter">
    <input type="submit">
</form>

<ul>
    <% mycats.forEach((cat, index) => { %>
        <li><img src="<%= cat.img %>"> <br /> <%= cat.name %> is famous for <%= cat.famousFor %>
            <a href="/cats/edit/<%= index %>">Edit</a>
            <form method="POST" action="/cats/<%= index %>/?_method=DELETE">
                <input type="submit" value="Delete">
            </form>
            <br />
        </li>
    <% }) %>
</ul>