<form action="/cats" method="GET">
    <label for="nameFilter">Filter by Name</label>
    <input type="text" id="nameFilter" name='nameFilter'>
    <input type="submit">
    </form>
    
    <ul>
        <% myCats.forEach((cat, index) => { %>
            <div class="tooltip">
            <li><%= cat.name %> is famous for <%= cat.famousFor %> and looks like this: <img id="catDisplay" src="<%= cat.image %>"/>
                <span class='tooltiptext'>Text</span>
            </div>
                <a href="/cats/edit/<%= index %>">Edit</a>
                <form action="/cats/<%= index %>/?_method=DELETE" method="POST">
                <input type="submit" value="Delete">
            </form>
            </li>
        
        <% }) %>
    </ul>