<div class="container">
  <div class="row">
    <% myCats.forEach((cat, index) => { %>
    <div class="col s12 m6">
      <div class="card">
        <div class="card-image">
          <img src="<%= cat.image %>" />
        </div>
        <div class="card-content">
          <h5 class="card-title"><%= cat.name %></h5>
          <p><%= cat.name %> is famous for <%= cat.famousFor %></p>
          <br />
          <a href="/cats/edit/<%= index %>"
            ><input type="submit" value="Edit"
          /></a>
          <br /><br />
          <form method="POST" action="/cats/<%= index %>/?_method=DELETE">
            <input type="submit" value="Delete" />
            <br />
          </form>
        </div>
      </div>
    </div>
    <% }) %>
  </div>
  <div class="center-align">
    <a class="waves-effect waves-light btn-small right-align" href="/cats/new"
      ><i class="material-icons right">add</i>Add Cat</a
    >
    <a class="waves-effect waves-light btn-small" href="/"
      ><i class="material-icons right">send</i>Back to home</a
    >
  </div>
</div>
